<nav>
    <!-- Do not forget to change the path to the image -->
    <img src="./img/art-logo.png" alt="logo">
    <a href="/">ArtGallery</a>

    <ul class="menu">
        <li><a href="/gallary">Gallery</a></li>
        <!-- Logged users -->
        {{#if isLoggedIn}}
        <li><a href="/create">Create Publication</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="#">Logout</a></li>
        {{/if}}
        <!-- Guest users -->
<<<<<<< HEAD
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
=======
        {{#else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/else}}
>>>>>>> e648031995f572cb406a1cd06ab1237fc82e75d1
    </ul>
</nav>