<nav>
    <!-- Do not forget to change the path to the image -->
    <img src="./img/art-logo.png" alt="logo">
    <a href="/">ArtGallery</a>

    <ul class="menu">
        <li><a href="/gallary">Gallery</a></li>
        <!-- Logged users -->
        <li><a href="/create">Create Publication</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
        <!-- Guest users -->
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>